body {
	background-color: #DFDFCB;
	color: #88AF19;
}

#message {

}

.main {
	/*background-color: #FFFFFF;  remove after finishing*/
	min-width: 500px;
	height: 600px;
	right: 25%;
	left: 25%;
	position: fixed;
	margin-bottom: 20px;
}

.header {
	margin-top: 10px;
	border: 1px solid;
	border-radius: 5px;
	background-color: #FFFFFF;
	text-align: center;
}

.spacer {
	clear: both;
}

.body {
	border: 1px solid;
	border-radius: 5px;
	background-color: #FFFFFF;
}

.map {
	width: 100%;
	height: 300px;
	margin-left: 2.5px;
}

#map_canvas {
	width: 99%;
	height: 99%;
}

#place_street_view {
	width: 250px;
	float: left;
}

#place_street_view img {
	padding-top: 5px;
	padding-left: 5px;
}

.place {

}

.next {
	float: right;
	margin-right: 10px;
	margin-top: 150px;
}

.next > img {
	cursor: pointer;
}

#place_title {
	margin-top: 15px;
	float: left;
}

.footer {
	height: 10px;
	text-align: center;
	font-size: 15px;
}

